.feedbacks {
    padding: 180px 270px;
    text-align: center;
    color: white;
        @media (max-width: 1024px) {
        padding: 100px 10px
    }
    
    @media (max-width: 325px) {
        padding: 50px 10px
    }
}
